*{
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  max-width: 100%;
}
.nav{
  display: flex;
  background-color: #F55A5A;
  color:white;
  height: 50px;
   
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.nav-text{
  padding-left: 20px;
  padding-top: 40px;

}
section{
  padding: 40px;
}

.section{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom-style: solid;
  border-bottom-color: darkslategrey;
  
}
.sect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.sect h1{
  margin-top: 5px;
  margin-bottom: 10px;
}
.section-span{
  margin-top: 15px;
  margin-bottom:1px;
}
.section-date{
  margin-bottom: 9px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
