*{
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.nav{
  background-color: #F55A5A;
  color:white;
  height: 50px;
}
.nav-contents{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.nav-text{
  padding-left: 20px;
  padding-top: 40px;

}
section{
  padding: 40px;
}

.section{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: dashed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
